

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Розташування між елементами */
}

.movie-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    width: calc(19% - 20px); /* 25% ширини з відступами */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.movie-card img {
    max-width: 100%;
}

.movie-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

.rating {
    font-size: 1.1rem;
    color: #ff9800;
}

/*.pagination {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    margin-top: 20px;*/
/*}*/

/*.pagination button {*/
/*    background-color: #007acc;*/
/*    color: #fff;*/
/*    padding: 10px 20px;*/
/*    border: none;*/
/*    margin: 0 5px;*/
/*    cursor: pointer;*/
/*    transition: background-color 0.3s;*/
/*}*/

/*.pagination button:hover {*/
/*    background-color: #005b9f;*/
/*}*/

/*.pagination button:disabled {*/
/*    background-color: #ccc;*/
/*    cursor: not-allowed;*/
/*}*/
/* Movies.module.css */

/* Movies.module.css */

/* Movies.module.css */

/* Movies.module.css */

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #ccc;
    color: #1f6ab4; /* Жовтий колір тексту */
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; /* Невеликий радіус бордюру */
    padding: 5px 15px; /* Зменшив розмір кнопок */
    font-family: 'Ваш_шрифт', sans-serif; /* Замініть 'Ваш_шрифт' на власний шрифт */
}

.pagination button:hover {
    background-color: #999; /* Сірий колір при наведенні */
    color: #fff; /* Колір тексту при наведенні */
}

.pagination button:disabled {
    background-color: #ccc;
    color: #999; /* Сірий колір тексту в вимкненому стані */
    cursor: not-allowed;
}




/* Додайте цей код у вашому CSS-файлі (Movies.module.css) */
.movies-search {
    text-align: center; /* Відцентрувати вміст горизонтально */
    margin-bottom: 8px; /* Додайте бажаний відступ між полем вводу і фільмами */
}

.movies-search input {
    padding: 10px; /* Задайте відступи для поля вводу */
    border: 2px solid #ccc; /* Додайте рамку для поля вводу */
    border-radius: 5px; /* Закругліть кути */
    width: 60%; /* Задайте ширину поля вводу (змініть її за потребою) */
    font-size: 16px; /* Задайте розмір шрифту */
}

.movies-search input::placeholder {
    color: #999; /* Задайте колір тексту плейсхолдера */
}
