/* MovieDetailPage.css */

.movie-details-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Встановлюємо висоту на всю висоту вікна */
    color: #ffd400;
}

.movie-details-image img {
    width: 60%; /* Розтягуємо картинку на всю ширину батьківського контейнера */
    height: 60%; /* Розтягуємо картинку на всю висоту батьківського контейнера */
    object-fit: cover; /* Зберігаємо пропорції картинки та обрізаємо зайві частини */
    color: #ffdb2d;
}
