

.movies-container {
    display: flex;
    flex-direction: column;
}

.genres-container {
    flex: 1;
    background-color: #ccc;
    padding: 10px;
    min-width: 200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    align-content: start;
}

.genre-badge {
    display: block;
    padding: 5px;
    color: #ff6600; /* Помаранчевий колір тексту */
    border: 1px solid #000;
    cursor: pointer;
    text-align: center;
}

.movies-list {
    flex: 2;
    display: flex;
    flex-wrap: wrap; /* Розміщення фільмів в рядок */
    gap: 20px;
}



.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Розташування між елементами */
}

.movie-card {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px 0;
    text-align: center;
    width: calc(19% - 20px); /* 25% ширини з відступами */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.movie-card img {
    max-width: 100%;
}

.movie-title {
    font-size: 1.2rem;
    margin: 10px 0;
}

.rating {
    font-size: 1.1rem;
    color: #ffd400;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #ccc;
    color: #1f6ab4; /* Жовтий колір тексту */
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px; /* Невеликий радіус бордюру */
    padding: 5px 15px; /* Зменшив розмір кнопок */
    font-family: 'Ваш_шрифт', sans-serif; /* Замініть 'Ваш_шрифт' на власний шрифт */
}

.pagination button:hover {
    background-color: #999; /* Сірий колір при наведенні */
    color: #fff; /* Колір тексту при наведенні */
}

.pagination button:disabled {
    background-color: #ccc;
    color: #999; /* Сірий колір тексту в вимкненому стані */
    cursor: not-allowed;
}

